.keyboard_container {
    --c: #f6a97a;

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 32px repeat(4, 1fr);
  
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  
    width: 100%;
    height: 38vh;
  
    background-color: rgb(247, 247, 247);
  
    z-index: 99;
  
    --gap_px: 10px;
  
    padding: 0px var(--gap_px) var(--gap_px);
    row-gap:  var(--gap_px);
    column-gap: var(--gap_px);
  
    transition: all 0.4s linear;
    transform-origin: bottom;
    box-shadow: 0 -2px 2px #EFEFEF;
}

.close {
    transform: rotate(180deg) scaleX(2.5);
    grid-column: span 4;
    font-size: 24px;
    color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close::after{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0;
    transition: .3s;
    box-shadow: 0 0 0 6px var(--c);
}

.close:active::after{
    box-shadow: none;
    opacity: 0.4;
    transition: 0s;
}

.zero {
    grid-column-start: span 2;
}

.confirm {
    grid-row-start: span 3;
    background-color: #f6a97a !important;
    color: white;
}

.positive {
    background-color: var(--c);
}

.hide {
    height: 0 !important;
    bottom: -30px;
}

.btn{
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
    box-shadow: none;
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.btn::after{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: 0.2s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:active::after{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}